*.pro.user
*build-desktop-Desktop_Qt_4_7_4_for_GCC__Qt_SDK*
*build-desktop-Qt_4_7_4_for_Desktop_-_MinGW_4_4__Qt_SDK*
*~
*.autosave
versionrev.h
.test-suite-shadow-build
doc/html
da_release/linux32/chatbot-*
da_release/linux32/.build
da_release/win32/chatbot-*
da_release/win32/.build
.cccc
